@model IEnumerable<QLBH.Models.HangHoa>

@foreach (var item in Model)
{
	<div class="grid_1_of_4 images_1_of_4">
		<a asp-controller="HangHoas" asp-action="Details">
			<img src="~/images/@item.Anh" alt="" />
		</a>
		<h2>@item.TenHang </h2>
		<div class="price-details">
			<div class="price-number">
				<p><span class="rupees">$@item.Gia</span></p>
			</div>
			<div class="add-cart">
				<h4><a asp-controller="HangHoas" asp-action="Details">Add to Cart</a></h4>
			</div>
			<div class="clear"></div>
		</div>
	</div>
}