<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Home Shoppe Website Template | Home :: w3layouts</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
	<!-- Begin Wrap -->
	<div class="wrap">
		<!-- Begin Header -->
		<partial name="HoangManhQuan_Header" />
		<!-- End Header -->
		<!-- Begin Main -->
		<div class="main">
			<div class="content">
                @RenderBody()
				
			</div>
		</div>
		<!-- End Main -->
	</div>
	<!-- End Wrap -->
	<!-- Begin Footer -->
    <partial name="HoangManhQuan_Footer" />
	<!-- End Footer -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
