@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Chi tiết khách hàng";
}

<div class="text-center">
    <h1 class="display-4">Chi tiết khách hàng</h1>
    <p>@ViewBag.Customer</p>
</div>
