@model Day05Lab_Model.Models.EmployeeModel

@{
    ViewData["Title"] = "Delete Employee";
}

<h2>Delete Employee</h2>

<h4>Bạn có chắc muốn xóa nhân viên này?</h4>
<div>
    <dl class="row">
        <dt class="col-sm-2">Full Name</dt>
        <dd class="col-sm-10">@Model.FullName</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
